<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Register</title>
<link rel="stylesheet" href="resources/main.css">
</head>
<body>
	{{> header}}
	<h1>Change Password</h1>
	<h3 style="color:red;display:{{display}}">{{error}}</h3>
	<form method="POST" action="/change_password">
		<input placeholder="Current password" name="password" type="password" value="{{password}}"></input><br>
		<input placeholder="New Password" name="pass1" type="password" value="{{pass1}}"></input><br>
		<input placeholder="Confirm new password" name="pass2" type="password" value="{{pass2}}"></input><br>
		<input type="submit">
	</form>

</body>
</html>
