<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Register</title>
<link rel="stylesheet" href="resources/main.css">
</head>
<body>
	{{> header}}
	<h1>Register</h1>
	<h3 style="color:red;display:{{display}}">{{error}}</h3>
	<form method="POST" action="/register">
		<input placeholder="Username" name="username" value="{{username}}"></input><br>
		<input placeholder="Password" name="pass1" type="password" value="{{pass1}}"></input><br>
		<input placeholder="Confirm password" name="pass2" type="password" value="{{pass2}}"></input><br>
		<input placeholder="Email" name="email" value="{{email}}"></input><br>
		<input type="submit">
	</form>

</body>
</html>
